@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    margin-left: -304px;
    font-size: 2.8rem;
}
html {
   
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
}

.register{
    position: static;
    margin-right: -118px;
}
/*styling the dropdown button*/
.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 3px;
}
/* end of styling the dropdown button*/
.learnmore {
    margin-left: -585px;
    width: 141px;
    margin-top: 27px;
}
.md\:bg-top {
   
    background-position: top;
    width: 388px;
    margin-left: 741px;
    height: 518px;
    object-fit: contain;
    margin-top: 73px;
}
.careers {
    margin-left: 39px;
    padding-top: 1.8rem;
    padding-left: 2.25rem;
}
.px-1 {
    padding-left: 2.25rem;
    padding-right: 0.25rem;
}
.py-7 {
    padding-top: 1.8rem;
    padding-bottom: 1.75rem;
}
.about {
    margin-left: 110px;
}

.md\:text-5xl {
    font-size: 4rem;
    line-height: 1;
    margin-top: 61px;
}
.fashion{
    margin-top: 93px;
    margin-left: -587px;
}
.big-text{
    margin-left: -592px;
    padding-top: 96px;
    line-height: 1;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: -58px;
}
.footer-logo {
    margin-left: -584px;
    margin-top: 108px;
    height: 23px;
}

.links {
    margin-left: -493px;
}
.bg-white {
    --tw-bg-opacity: 1;
    width: 100%;
    position: absolute;
    top: -6;
    margin-left: -535px;
    margin-top: -84px;
}

.login {
    margin-left: -76px;
    margin-top: -38px;
}
@media (max-width: 360px){
    .logo {
        margin-left: 844px;
        font-size: 2.8rem;
    }
    /*this element.style is for the hamburger menu styling*/
    element.style {
        margin-top: -104px;
        margin-left: 139px;
    }
    .pl-4 {
        padding-left: 2rem;
        position: fixed;
        margin-right: -17px;
        /* width: 65px; */
        max-width: 384px;
    }
    .py-24 {
        padding-top: 0rem;
        padding-bottom: 6rem;
        width: 213px;
        margin-left: 203px;
    }
    .p-5 {
        padding: 1.25rem;
        /* margin-left: -4px; */
        padding-left: 406px;
        position: fixed;
        padding-top: 31px;
    }
    .left-10 {
        left: -3.5rem;
    }
    .left-\[-14\%\] {
        left: 97%;
    }
     /* hamburger menu styling ends above*/
     .login {
        margin-left: 58px;
        padding-top: 123px;
        /* margin-top: 214px; */
        max-height: 73px;
        position: fixed;
        color: currentcolor;
    }
    .md\:bg-top {
        margin-left: 0px;
        width: 359px;
        height: 268px;
        object-fit: contain;
        background-image: url(assets/image-hero-mobile.png);
    }
    .absolute {
        position: relative;
    }
    .text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: -217px;
        margin-left: 10px;
        padding-top: -284px;
        position: fixed;
    }
    .big-text {
        margin-left: 45px;
        padding-top: 301px;
        line-height: 1;
        font-size: 28px;
        font-weight: 600;
        
    }
    .big-text br {
       display: none;
    }
    .register {
        --tw-text-opacity: 1;
        color: rgb(156 163 175 / var(--tw-text-opacity));
        margin-top: 132px;
        max-width: 125px;
        margin-left: 18px;
        color: currentcolor;
    }
    
    .learnmore {
        margin-left: 100px;
        width: 141px;
        margin-top: 27px;
    }
    .fashion {
        margin-top: 76px;
        font-size: 15px;
        margin-left: 3px;
        text-align: center;
    }
    .footer-logo {
        margin-left: 6px;
        margin-top: 49px;
        height: 19px;
        flex-direction: row;
    }
}


